*{
	padding:0;
	margin:0;
}
body {
	font-family: 'Montserrat', sans-serif;
    background: #fff;
}
h3 {
    cursor: pointer;
    display: inline;
}
p {
    color: #333;
}
ul {
    list-style-type: none;
    padding-left: 0;
    border-radius: 5px;
}
select {
    position: relative;
    right: 0;
    top: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(img/arrow.png), -webkit-linear-gradient(#fff, #fff 40%, #fff);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #eaeaea;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    outline: none;
	text-transform: capitalize;
}
.container {
    margin: auto;
    min-height: initial;
    position: relative;
}
.container > div {
    padding-bottom: 30px;
}
.list-item{
	position:relative;
	margin:10px 0;
	background:none;
}
.item_bg_fix{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:#fff;
	z-index: 0;
}
.item_bg_fix2{
	position:absolute;
	width:calc(100% - 6px);
	height:100%;
	top:0;
	left:6px;
	background:rgba(0,0,0,0.1);
	z-index: 1;
}
.list-item:before{
	position:absolute;
	content:"";
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:inherit;
	opacity:0.3;
	z-index: 2;
}
.list-item:after{
	position:absolute;
	content:"";
	width:6px;
	height:100%;
	background-color: inherit;
	top:0;
	left:0;
	opacity:1;
}
.higher_zindex{
	position:relative;
	z-index:9;
}
.collections_list li {
	display:inline-block;
    border: #eaeaea solid 1px;
    margin: 5px 5px 5px 0px;
    padding: 5px 10px;
	border-radius:5px;
    position: relative;
    background: #fff;
	cursor:pointer;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
.collections_list li:hover{
	background: #95effe;
}
.list-item{
	padding:10px 0;
    border-left-width: 5px;
}
.right_align{
	text-align:right;
}
.capitalize_text{
	text-transform: Capitalize;
}
.collection_name{
	padding-top:5px;
	margin-bottom:0;
	cursor:pointer;
}
.collection_name + p{
	margin-top:5px;
}
.alert_message{
	margin-bottom:10px;
}
.alert_message.error{
	color:#ff0000;
}
.delete_confirmation{
	margin-top:10px;
}